/* Buttons classes | Start */
:root {
  --btn-height: 35px;
  --btn-padding-inline: 0.75rem;
  --btn-padding-block: 0.25rem;
  --btn-margin-block: 0.5rem;
  --fs-button: 1rem;
  --fw-button: 500;
  --fs-button-icon: 1.125rem;
}

button {
  height: var(--btn-height);
  width: fit-content;
  max-height: 45px;
  max-width: 100%;
  padding: var(--btn-padding-block) var(--btn-padding-inline);
  @extend .rounded;
  background-clip: border-box;
  @extend .bg-white;
  @extend .text-secondary;
  @extend .border-regualr-light;
  cursor: pointer;
  @extend .flex-row;
  @extend .flex-center;
  &:is(:focus, :hover) {
    border-color: $primary-clr !important;
    @extend .bg-primary;
    @extend .text-light;
    outline: none;
  }
}

button > .icon {
  font-size: var(--fs-button-icon);
  display: flex;
  padding-inline-end: 5px;
}

button > span {
  font-family: inherit;
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
}

.button-strict {
  border-radius: 0;
}

.button-filled-primary {
  @extend .bg-primary;
  @extend .text-white;
  border-color: $primary-clr !important;

  &:is(:focus, :hover) {
    background-color: lighten($primary-clr, 10%) !important;
    @extend .text-white;
    border-color: $primary-clr !important;
  }
}

.button-filled-secondary {
  @extend .bg-secondary;
  @extend .text-white;
  border-color: $secondary-clr !important;

  &:is(:focus, :hover) {
    background-color: darken($secondary-clr, 10%) !important;
    @extend .text-white;
    border-color: $secondary-clr !important;
  }
}

.button-filled-confirm {
  @extend .bg-confirm;
  @extend .text-white;
  border-color: $confirm-clr !important;

  &:is(:focus, :hover) {
    background-color: darken($confirm-clr, 10%) !important;
    @extend .text-white;
    border-color: $confirm-clr !important;
  }
}

.button-filled-success {
  @extend .bg-success;
  @extend .text-white;
  border-color: $success-clr !important;

  &:is(:focus, :hover) {
    background-color: tint($success-clr, 10%) !important;
    @extend .text-white;
    border-color: $success-clr !important;
  }
}

.button-filled-alarm {
  @extend .bg-alarm;
  @extend .text-white;
  border-color: $alarm-clr !important;

  &:is(:focus, :hover) {
    background-color: darken($alarm-clr, 10%) !important;
    @extend .text-white;
    border-color: $alarm-clr !important;
  }
}

.button-filled-caution {
  @extend .bg-caution;
  @extend .text-white;
  border-color: $caution-clr !important;

  &:is(:focus, :hover) {
    background-color: lighten($caution-clr, 10%) !important;
    @extend .text-white;
    border-color: $caution-clr !important;
  }
}

.button-filled-info {
  @extend .bg-info;
  @extend .text-white;
  border-color: $info-clr !important;

  &:is(:focus, :hover) {
    background-color: darken($info-clr, 10%) !important;
    @extend .text-white;
    border-color: $info-clr !important;
  }
}

.button-filled-light {
  @extend .bg-light;
  @extend .text-secondary;
  border-color: $light-clr !important;

  &:is(:focus, :hover) {
    background-color: color(Smoky) !important;
    @extend .text-dark;
    border-color: $light-clr !important;
  }
}

.button-filled-dark {
  @extend .bg-dark;
  @extend .text-white;
  border-color: $dark-clr !important;

  &:is(:focus, :hover) {
    background-color: tint($dark-clr, 10%) !important;
    @extend .text-white;
    border-color: $dark-clr !important;
  }
}

.button-outline {
  background-color: transparent;
  @extend .text-primary;
  border-width: 1px;

  &:is(:focus, :hover) {
    color: white !important;
  }
}

.button-outline-primary {
  border-color: $primary-clr !important;
  @extend .text-primary;

  &:is(:focus, :hover) {
    @extend .bg-primary;
    border-color: $primary-clr !important;
    @extend .text-white;
  }
}

.button-outline-secondary {
  border-color: $secondary-clr !important;
  @extend .text-secondary;
  &:is(:focus, :hover) {
    @extend .bg-secondary;
    border-color: $secondary-clr !important;
    @extend .text-white;
  }
}

.button-outline-confirm {
  border-color: $confirm-clr !important;
  @extend .text-confirm;
  &:is(:focus, :hover) {
    @extend .bg-confirm;
    border-color: $confirm-clr !important;
    @extend .text-white;
  }
}

.button-outline-success {
  border-color: $success-clr !important;
  @extend .text-success;
  &:is(:focus, :hover) {
    @extend .bg-success;
    border-color: $success-clr !important;
    @extend .text-white;
  }
}

.button-outline-alarm {
  border-color: $alarm-clr !important;
  @extend .text-alarm;
  &:is(:focus, :hover) {
    @extend .bg-alarm;
    border-color: $alarm-clr !important;
    @extend .text-white;
  }
}

.button-outline-caution {
  border-color: $caution-clr !important;
  @extend .text-caution;
  &:is(:focus, :hover) {
    @extend .bg-caution;
    border-color: $caution-clr !important;
    @extend .text-white;
  }
}

.button-outline-info {
  border-color: $info-clr !important;
  @extend .text-info;
  &:is(:focus, :hover) {
    @extend .bg-info;
    border-color: $info-clr !important;
    @extend .text-white;
  }
}

.button-outline-light {
  @extend .text-secondary;
  border-color: $light-clr !important;

  &:is(:focus, :hover) {
    @extend .bg-light;
    @extend .text-dark;
    border-color: $light-clr !important;
  }
}

.button-outline-dark {
  @extend .text-dark;
  border-color: $dark-clr !important;

  &:is(:focus, :hover) {
    @extend .bg-dark;
    @extend .text-white;
    border-color: $dark-clr !important;
  }
}

/* Buttons classes | End */
