/* custom check box styling | Start */
/* Checkbox form field */
.checkbox-form-field {
    display: flex;
    align-items: center;
  }
  
  /* The container */
  .checkbox-container {
    height: $elementHeight;
    width: 100%;
    margin-top: auto;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  
    label {
      font-size: var(--fs-tiny-nav);
      color: color(Imperial);
      margin-inline-end: 5px;
    }
  }
  
  .checkbox {
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox input {
    height: 100%;
    width: 100%;
    position: absolute;
    @extend .position-zero;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .fake-checkbox {
    height: inherit;
    width: inherit;
    @extend .flex-center;
    background-color: white;
    border: 1px solid tint($secondary-clr, 40%);
    overflow: hidden;
    .bi {
      color: white !important;
      font-size: var(--fs-lg-icon);
    }
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox:hover input ~ .fake-checkbox {
    background-color: color(Ashes);
  
    .bi {
      color: color(Ashes) !important;
    }
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox input:checked ~ .fake-checkbox {
    background-color: $primary-clr;
  }
  
  /* Show the checkmark when checked */
  .checkbox input:checked ~ .fake-checkbox {
    display: flex;
  
    .bi {
      color: white !important;
    }
  }
  
  /* custom check box styling | End */
  