/* custom check box styling | Start */
/* Checkbox form field */
.checkbox-form-field {
  display: flex;
  align-items: center;
}

/* The container */
.checkbox-container {
  height: $elementHeight;
  width: 100%;
  display: flex;
  align-items: center;
  label {
    color: $secondary-clr;
    margin-inline-end: 5px;
  }
}

.checkbox {
  height: 20px;
  width: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.pseduo-checkbox {
  height: 100%;
  width: 100%;
  position: absolute;
  @extend .position-zero;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.fake-checkbox {
  height: inherit;
  width: inherit;
  @extend .flex-center;
  background-color: white;
  border: 1px solid lighten($secondary-clr, 20%);
  overflow: hidden;
  .bi {
    color: white !important;
    font-size: var(--fs-lg-icon);
  }
}

.checkbox:is(:hover, :focus) {
  outline: 0.5px solid $secondary-clr;
  box-shadow: 0 0 5px lighten($color: $secondary-clr, $amount: 20%);

  .bi {
    mix-blend-mode: darken;
  }
}

.pseduo-checkbox:checked ~ .fake-checkbox {
  /* When the checkbox is checked, coloring the background */
  background-color: $secondary-clr;
  /* Show the checkmark when checked */
  display: flex;
  .bi {
    mix-blend-mode: unset !important;
  }
}

/* custom check box styling | End */

.checkbox-primary {
  .checkbox:is(:hover, :focus) {
    outline-color: lighten($color: $primary-clr, $amount: 20%) !important;
    box-shadow: 0 0 5px lighten($color: $primary-clr, $amount: 20%) !important;
  }
  .pseduo-checkbox:checked ~ .fake-checkbox {
    background-color: $primary-clr;
  }
}
.checkbox-tertiary {
    .checkbox:is(:hover, :focus) {
      outline-color: lighten($color: $tertiary-clr, $amount: 20%) !important;
      box-shadow: 0 0 5px lighten($color: $tertiary-clr, $amount: 20%) !important;
    }
    .pseduo-checkbox:checked ~ .fake-checkbox {
      background-color: $tertiary-clr;
    }
  }
.checkbox-alarm {
  .checkbox:is(:hover, :focus) {
    outline-color: lighten($color: $alarm-clr, $amount: 20%) !important;
    box-shadow: 0 0 5px lighten($color: $alarm-clr, $amount: 20%) !important;
  }
  .pseduo-checkbox:checked ~ .fake-checkbox {
    background-color: $alarm-clr;
  }
}
.checkbox-proceed {
  .checkbox:is(:hover, :focus) {
    outline-color: lighten($color: $proceed-clr, $amount: 20%) !important;
    box-shadow: 0 0 5px lighten($color: $proceed-clr, $amount: 20%) !important;
  }
  .pseduo-checkbox:checked ~ .fake-checkbox {
    background-color: $proceed-clr;
  }
}
.checkbox-agree {
  .checkbox:is(:hover, :focus) {
    outline-color: lighten($color: $agree-clr, $amount: 20%) !important;
    box-shadow: 0 0 5px lighten($color: $agree-clr, $amount: 20%) !important;
  }
  .pseduo-checkbox:checked ~ .fake-checkbox {
    background-color: $agree-clr;
  }
}
.checkbox-caution {
  .checkbox:is(:hover, :focus) {
    outline-color: lighten($color: $caution-clr, $amount: 20%) !important;
    box-shadow: 0 0 5px lighten($color: $caution-clr, $amount: 20%) !important;
  }
  .pseduo-checkbox:checked ~ .fake-checkbox {
    background-color: $caution-clr;
  }
}
.checkbox-info {
  .checkbox:is(:hover, :focus) {
    outline-color: lighten($color: $info-clr, $amount: 20%) !important;
    box-shadow: 0 0 5px lighten($color: $info-clr, $amount: 20%) !important;
  }
  .pseduo-checkbox:checked ~ .fake-checkbox {
    background-color: $info-clr;
  }
}
.checkbox-light {
  .checkbox:is(:hover, :focus) {
    outline-color: darken($color: $light-clr, $amount: 20%) !important;
    box-shadow: 0 0 5px darken($color: $light-clr, $amount: 20%) !important;
  }
  .pseduo-checkbox:checked ~ .fake-checkbox {
    background-color: $light-clr;
  }
}
.checkbox-dark {
  .checkbox:is(:hover, :focus) {
    outline-color: lighten($color: $dark-clr, $amount: 20%) !important;
    box-shadow: 0 0 5px lighten($color: $dark-clr, $amount: 20%) !important;
  }
  .pseduo-checkbox:checked ~ .fake-checkbox {
    background-color: $dark-clr;
  }
}


@include onScreenMinWidth(screens(Tablet)) {
  .checkbox {
    height: 22px;
    width: 22px;
  }
}
