.search-select-field {
  position: relative;
}

.search-select-field input {
  box-shadow: none !important;
}
.search-select-field:has(input:focus) {
  .filter-results-container {
    display: block;
  }
}

.filter-results-container {
  max-height: 200px;
  width: 100%;
  background-color: white;
  border: 1px solid color(GreyCream);
  border-radius: 5px;
  display: none;
  transition: all 1s linear;

  ul > li {
    height: $elementHeight;
    padding-inline: var(--spacing-unit);
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 0.5px solid color(GreyCream);
    }

    &:hover {
      background-color: $light-clr;
      .bi {
        mix-blend-mode: multiply;
      }
    }

    .bi {
      color: color(GreyCream);
      font-size: var(--fs-regular-icon);
      margin-inline-end: 5px;
    }

    .selected {
      color: $confirm-clr;
    }

    span {
      color: $secondary-clr;
      font-weight: var(--fw-medium);
    }

    .text-span::first-letter {
      text-transform: capitalize;
    }
  }
}
