<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI Components</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body data-direction="ltr" data-theme="light">
    <main>
      <section>
  <div class="container">
    <h1>buttons</h1>
    <div class="container-fluent flex-row justify-start flex-wrap row-gap column-gap">
      <button><i class="bi bi-send-fill pre-icon"></i><span>basic button</span></button>
      <button class="button-strict"><i class="bi bi-send-fill pre-icon"></i><span>strict button</span></button>
      <button class="inactive"><i class="bi bi-send-fill pre-icon"></i><span>disabled button</span></button>
    </div>
  </div>
</section>

      <section>
  <div class="container">
    <h2>actions buttons</h2>
    <div class="container-fluent flex-row justify-start flex-wrap row-gap column-gap">
      <button class="button-filled-primary"><i class="bi bi-send-fill pre-icon"></i><span>primary</span></button>

      <button class="button-filled-secondary"><i class="bi bi-chat-square-quote pre-icon"></i><span>secondary</span></button>

      <button class="button-filled-confirm"><i class="bi bi-check2-circle pre-icon"></i><span>confirm</span></button>

      <button class="button-filled-success"><i class="bi bi-hand-thumbs-up pre-icon"></i><span>success</span></button>

      <button class="button-filled-alarm"><i class="bi bi-alarm pre-icon"></i><span>alarm</span></button>

      <button class="button-filled-caution"><i class="bi bi-exclamation-octagon pre-icon"></i><span>caution</span></button>

      <button class="button-filled-info"><i class="bi bi-info-circle-fill pre-icon"></i><span>info</span></button>

      <button class="button-filled-light"><i class="bi bi-bookmark-check pre-icon"></i><span>light</span></button>

      <button class="button-filled-dark"><i class="bi bi-bookmark-check pre-icon"></i><span>dark</span></button>
    </div>
  </div>
</section>

      <section>
  <div class="container">
    <h2>strict actions buttons</h2>
    <div class="container-fluent flex-row justify-start flex-wrap row-gap column-gap">
      <button class="button-strict button-filled-primary"><i class="bi bi-send-fill pre-icon"></i><span>primary</span></button>

      <button class="button-strict button-filled-secondary"><i class="bi bi-chat-square-quote pre-icon"></i><span>secondary</span></button>

      <button class="button-strict button-filled-confirm"><i class="bi bi-check2-circle pre-icon"></i><span>confirm</span></button>

      <button class="button-strict button-filled-success"><i class="bi bi-hand-thumbs-up pre-icon"></i><span>success</span></button>

      <button class="button-strict button-filled-alarm"><i class="bi bi-alarm pre-icon"></i><span>alarm</span></button>

      <button class="button-strict button-filled-caution"><i class="bi bi-exclamation-octagon pre-icon"></i><span>caution</span></button>

      <button class="button-strict button-filled-info"><i class="bi bi-info-circle-fill pre-icon"></i><span>info</span></button>

      <button class="button-strict button-filled-light"><i class="bi bi-bookmark-check pre-icon"></i><span>light</span></button>

      <button class="button-strict button-filled-dark"><i class="bi bi-bookmark-check pre-icon"></i><span>dark</span></button>
    </div>
  </div>
</section>

      <section>
  <div class="container">
    <h2>outline buttons</h2>
    <div class="container-fluent flex-row justify-start flex-wrap row-gap column-gap">
      <button class="button-outline-primary"><i class="bi bi-send-fill pre-icon"></i><span>primary</span></button>

      <button class="button-outline-secondary"><i class="bi bi-chat-square-quote pre-icon"></i><span>secondary</span></button>

      <button class="button-outline-confirm"><i class="bi bi-check2-circle pre-icon"></i><span>confirm</span></button>

      <button class="button-outline-success"><i class="bi bi-hand-thumbs-up pre-icon"></i><span>success</span></button>

      <button class="button-outline-alarm"><i class="bi bi-alarm pre-icon"></i><span>alarm</span></button>

      <button class="button-outline-caution"><i class="bi bi-exclamation-octagon-fill pre-icon"></i><span>caution</span></button>

      <button class="button-outline-info"><i class="bi bi-info-circle pre-icon"></i><span>info</span></button>

      <button class="button-outline-light"><i class="bi bi-bookmark-check pre-icon"></i><span>light</span></button>

      <button class="button-outline-dark"><i class="bi bi-bookmark-check pre-icon"></i><span>dark</span></button>
    </div>
  </div>
</section>

    </main>
  </body>
</html>
