<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI Components</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body data-direction="ltr" data-theme="light">
    <main>
      <section>
    <div class="container overflow-x-scroll">
        <table class="table-striped table-bordered">
            <thead>
                <tr class="table-intro">
                    <th>
                        <div>
                            <i class="bi bi-lamp-fill icon"></i>
                            <h3>last visits logged since yesterday till now</h3>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>full name</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>city</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>mohamad almoayad</td>
                    <td>mohamadalmoayad@gmail.com</td>
                    <td>+2010223915465</td>
                    <td>alexandria</td>
                </tr>
                <tr>
                    <td>mohamad almoayad</td>
                    <td>mohamadalmoayad@gmail.com</td>
                    <td>+2010223915465</td>
                    <td>alexandria</td>
                </tr>
                <tr>
                    <td>mohamad almoayad</td>
                    <td>mohamadalmoayad@gmail.com</td>
                    <td>+2010223915465</td>
                    <td>alexandria</td>
                </tr>
                <tr>
                    <td>mohamad almoayad</td>
                    <td>mohamadalmoayad@gmail.com</td>
                    <td>+2010223915465</td>
                    <td>alexandria</td>
                </tr>
            </tbody>

        </table>
        <!-- Pagination section -->
<div class="pagination-section">
  <div class="pagination-container">
    <nav class="pagination-navbar">
      <ul role="list">
        <li role="listitem">
          <a href="#">
            <span><i class="bi bi-chevron-double-left"></i></span>
          </a>
        </li>
        <li role="listitem">
          <a href="#"
            ><span><i class="bi bi-chevron-left"></i></span
          ></a>
        </li>
        <li role="listitem" class="active">
          <a href="#"><span>1</span></a>
        </li>
        <li role="listitem">
          <a href="#"><span>2</span></a>
        </li>
        <li role="listitem">
          <a href="#"><span>3</span></a>
        </li>
        <li role="listitem">
          <a href="#">
            <span><i class="bi bi-chevron-right"></i></span>
          </a>
        </li>
        <li role="listitem">
          <a href="#">
            <span><i class="bi bi-chevron-double-right"></i></span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="pagination-single">
      <p>
        page <span>1</span> of
        <span>5</span>
      </p>
    </div>
  </div>
</div>

    </div>
</section>
    </main>
  </body>
</html>
