.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  @extend .position-zero;
  z-index: 99;
  @extend .flex-center;
  background-color: rgba(#000, 0.85);
  backdrop-filter: blur(2px);
  display: none;
}

.modal-container {
  width: min(90%, 500px);
  height: max-content;
  padding: var(--spacing-unit);
  background-color: #fff;
  overflow: hidden;
}

.modal-large {
  @extend .modal;
  .modal-container {
    width: min(90%, 800px);
  }
}

.modal-container > .modal-title {
  display: flex;
  align-items: center;
  padding-bottom: var(--spacing-unit);
  border-bottom: 1px solid $border-light-clr;

  h6 {
    color: $primary-clr;
  }

  .modal-closer {
    height: 30px;
    margin-inline-start: auto;
    @extend .flex-center;
    cursor: pointer;
    overflow: hidden;
    .icon {
      color: $tertiary-clr;
      font-size: var(--fs-lg-icon);
    }
  }
}

.modal-container > .modal-body {
  padding-block: var(--spacing-unit);
  p {
    color: $article-text-clr;
  }
}

.modal-container > .modal-footer {
  padding-top: var(--spacing-unit);
  border-top: 1px solid $border-light-clr;
}
