@import "./variables";
@import "./mixins";

.text-titles {
    color: var(--primary-clr);
}

.text-subtitle {
    color: var(--tertiary-clr);
}

/* Layout classes | Start */
header {
    width: 100%;
}

main {
    width: 100%;
    min-height: var(--main-min-height);
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

/* Layout classes | End */

/* Containers classes | Start */
.padding-inline {
    padding-inline: var(--spacing-unit);
}

.padding-block {
    padding-block: var(--spacing-unit);
}

.padding {
    padding: var(--spacing-unit);
}

.margin-inline {
    margin-inline: var(--spacing-unit);
}

.margin-block {
    margin-block: var(--spacing-unit);
}

.margin {
    margin: var(--spacing-unit);
}

section {
    width: 100%;
    margin-block: var(--spacing-unit);
}

.container {
    width: var(--max-view-width);
    @extend .padding;
    margin-inline: auto;
    @extend .margin-block;
}

.container-fluent {
    width: 100%;
    height: fit-content;
}

.spacer-column {
    height: 100%;
    width: var(--spacing-unit);
}

.spacer-row {
    width: 100%;
    height: var(--spacing-unit);
}

/* Containers classes | End */

/* Text colors classes | Start */
.text-white {
    color: #FFF;
}

/* Text colors classes | End */

/* Backgrounds colors classes | Start */
.bg-primary {
    background-color: var(--primary-clr);
}

.bg-secondary {
    background-color: var(--secondary-clr);
}

.bg-confirm {
    background-color: var(--confirm-clr);
}

.bg-done {
    background-color: var(--done-clr);
}

.bg-alarm {
    background-color: var(--alarm-clr);
}

.bg-caution {
    background-color: var(--caution-clr);
}

.bg-info {
    background-color: var(--info-clr);
}

/* Backgrounds colors classes | End */


/* Decoration classes | Start */
.border-thin {
    border: .5px solid var(--border-clr);
}

/* Decoration classes | End */



@include onScreenMinWidth(var(--vw-mobile)) {}

@include onScreenMinWidth(var(--vw-mini-tablet)) {}