/* Buttons classes | Start */
:root {
    --btn-padding-inline: .5rem;
    --btn-padding-block: .25rem;
    --btn-margin-block: .5rem;
    --fs-button: .925rem;
    --fw-button: 500;
}

Button {
    height: fit-content;
    width: fit-content;
    max-height: 45px;
    max-width: 100%;
    padding: var(--btn-padding-block) var(--btn-padding-inline);
    margin-block: var(--btn-margin-block);
    border-radius: 5px;
    background-clip: border-box;
    background-color: white;
    border: 1px solid;
    cursor: pointer;
    @extend .flex-row;
    @extend .flex-center;
}

button>.bi {
    display: flex;

    &::after {
        content: "";
        width: 5px;
    }
}

Button>span {
    font-family: inherit;
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    text-transform: capitalize;
}

.btn-primary {
    @extend .bg-primary;
    @extend .text-white;
    border-color: var(--primary-clr);

    &:is(:focus, :hover) {
        background-color: shade(#f43573, 30%);
    }
}

.btn-secondary {
    @extend .bg-secondary;
    @extend .text-white;
    border-color: var(--secondary-clr);
}

.btn-confirm {
    @extend .bg-confirm;
    @extend .text-white;
    border-color: var(--confirm-clr);
}

.btn-done {
    @extend .bg-done;
    @extend .text-white;
    border-color: var(--done-clr);
}

.btn-alarm {
    @extend .bg-alarm;
    @extend .text-white;
    border-color: var(--alarm-clr);
}

.btn-caution {
    @extend .bg-caution;
    @extend .text-white;
    border-color: var(--caution-clr);
}

.btn-info {
    @extend .bg-info;
    @extend .text-white;
    border-color: var(--info-clr);
}

/* Buttons classes | End */