
$colors: (
  Glory: #38407b,
  DeepGlory: #1f223e,
  DarkSky: #0e1b2e,
  Barby: #ff6584,
  Imperial: #bf463b,
  Mustard: #fcc359,
  Apricot: #f2bf5e,
  Energy: #ffb30d,
  GreenMatt: #3ead5e,
  Pine: #006064,
  Bloody: #bf0b3b,
  Mint: #4caf50,
  Pistachio: #b7d996,
  GreyCream: #e0e0e0,
  Ashes: #c0c0c0,
  Smoky: #a7a7a7,
  Gray: #8d8d8d,
  GloryLight: #9fc3e6,
  Mestrious: #171717,
  DarkNight: #111111,
  Ocean: #3ca8c3,
  Copper: #c19d60,
  ShinyCopper: #d2aa6a,
  BrownMatt: #292929,
  Facebook: #3b5998,
  Twitter: #1da1f2,
  Youtube: #ff0000,
  Linkedin: #0a66c2,
  Instagram: #c32aa3,
  Whatsapp: #25d366,
  Dribbble: #ea4c89,
  Slack: #4a154b,
  Telegram: #0088cc,
  UltraViolet: #534c88,
  Fairouz: #30c4c7,
  FairouzDimmy: #298991,
  SunLight: #facd71,
  Brownish: #ab7b3a,
  BrightBlue: #00abe4,
  LightBlue: #e9f1fa,
  PaleBlue: #effafd,
  ROYALBlue: #4a8bdf,
 
);

$screensWidths: (
  Mini-Mobile: 320px,
  Mobile: 480px,
  Mini-Tablet: 768px,
  Tablet: 1024px,
  Desktop: 1200px,
);

