/* Buttons classes | Start */
:root {
  --btn-padding-inline: 0.5rem;
  --btn-padding-block: 0.25rem;
  --btn-margin-block: 0.5rem;
  --fs-button: 0.925rem;
  --fw-button: 500;
  --fs-button-icon: 0.975rem;
}

button {
  height: fit-content;
  width: fit-content;
  max-height: 45px;
  max-width: 100%;
  padding: var(--btn-padding-block) var(--btn-padding-inline);
  margin-block: var(--btn-margin-block);
  border-radius: 5px;
  background-clip: border-box;
  @extend .bg-white;
  @extend .text-secondary;
  @extend .border-regualr-light;
  cursor: pointer;
  @extend .flex-row;
  @extend .flex-center;
  &:is(:focus, :hover) {
    border-color: $primary-clr !important;
    @extend .bg-primary;
    @extend .text-light;
  }
}

button > .bi {
  font-size: var(--fs-button-icon);
  display: flex;
  padding-inline-end: 5px;
}

button > span {
  font-family: inherit;
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  text-transform: capitalize;
}

.button-strict {
  border-radius: 0;
}

.button-filled-primary {
  @extend .bg-primary;
  @extend .text-white;
  border-color: $primary-clr !important;

  &:is(:focus, :hover) {
    background-color: lighten($primary-clr, 10%) !important;
    @extend .text-white;
    border-color: $primary-clr !important;
  }
}

.button-filled-secondary {
  @extend .bg-secondary;
  @extend .text-white;
  border-color: $secondary-clr !important;

  &:is(:focus, :hover) {
    background-color: darken($secondary-clr, 10%) !important;
    @extend .text-white;
    border-color: $secondary-clr !important;
  }
}

.button-filled-proceed {
  @extend .bg-proceed;
  @extend .text-white;
  border-color: $proceed-clr !important;

  &:is(:focus, :hover) {
    background-color: darken($proceed-clr, 10%) !important;
    @extend .text-white;
    border-color: $proceed-clr !important;
  }
}

.button-filled-agree {
  @extend .bg-agree;
  @extend .text-white;
  border-color: $agree-clr !important;

  &:is(:focus, :hover) {
    background-color: tint($agree-clr, 10%) !important;
    @extend .text-white;
    border-color: $agree-clr !important;
  }
}

.button-filled-alarm {
  @extend .bg-alarm;
  @extend .text-white;
  border-color: $alarm-clr !important;

  &:is(:focus, :hover) {
    background-color: darken($alarm-clr, 10%) !important;
    @extend .text-white;
    border-color: $alarm-clr !important;
  }
}

.button-filled-caution {
  @extend .bg-caution;
  @extend .text-white;
  border-color: $caution-clr !important;

  &:is(:focus, :hover) {
    background-color: lighten($caution-clr, 10%) !important;
    @extend .text-white;
    border-color: $caution-clr !important;
  }
}

.button-filled-info {
  @extend .bg-info;
  @extend .text-white;
  border-color: $info-clr !important;

  &:is(:focus, :hover) {
    background-color: darken($info-clr, 10%) !important;
    @extend .text-white;
    border-color: $info-clr !important;
  }
}

.button-filled-light {
  @extend .bg-light;
  @extend .text-dark;
  border-color: $light-clr !important;

  &:is(:focus, :hover) {
    background-color: color(Smoky) !important;
    @extend .text-dark;
    border-color: $light-clr !important;
  }
}

.button-filled-dark {
  @extend .bg-dark;
  @extend .text-white;
  border-color: $dark-clr !important;

  &:is(:focus, :hover) {
    background-color: tint( $dark-clr, 10%) !important;
    @extend .text-white;
    border-color: $dark-clr !important;
  }
}

.button-outline {
  background-color: transparent;
  @extend .text-primary;
  border-width: 1px;

  &:is(:focus, :hover) {
    color: white !important;
  }
}

.button-outline-primary {
  border-color: $primary-clr !important;
  @extend .text-primary;

  &:is(:focus, :hover) {
    @extend .bg-primary;
    border-color: $primary-clr !important;
    @extend .text-white;
  }
}

.button-outline-secondary {
  border-color: $secondary-clr !important;
  @extend .text-secondary;
  &:is(:focus, :hover) {
    @extend .bg-secondary;
    border-color: $secondary-clr !important;
    @extend .text-white;
  }
}

.button-outline-proceed {
  border-color: $proceed-clr !important;
  @extend .text-proceed;
  &:is(:focus, :hover) {
    @extend .bg-proceed;
    border-color: $proceed-clr !important;
    @extend .text-white;
  }
}

.button-outline-agree {
  border-color: $agree-clr !important;
  @extend .text-agree;
  &:is(:focus, :hover) {
    @extend .bg-agree;
    border-color: $agree-clr !important;
    @extend .text-white;
  }
}

.button-outline-alarm {
  border-color: $alarm-clr !important;
  @extend .text-alarm;
  &:is(:focus, :hover) {
    @extend .bg-alarm;
    border-color: $alarm-clr !important;
    @extend .text-white;
  }
}

.button-outline-caution {
  border-color: $caution-clr !important;
  @extend .text-caution;
  &:is(:focus, :hover) {
    @extend .bg-caution;
    border-color: $caution-clr !important;
    @extend .text-white;
  }
}

.button-outline-info {
  border-color: $info-clr !important;
  @extend .text-info;
  &:is(:focus, :hover) {
    @extend .bg-info;
    border-color: $info-clr !important;
    @extend .text-white;
  }
}


.button-outline-light {
  @extend .text-dark;
  border-color: $light-clr !important;
  
  &:is(:focus, :hover) {
    @extend .bg-light;
    @extend .text-dark;
    border-color: $light-clr !important;
  }
}

.button-outline-dark {
  @extend .text-dark;
  border-color: $dark-clr !important;
  
  &:is(:focus, :hover) {
    @extend .bg-dark;
    @extend .text-white;
    border-color: $dark-clr !important;
  }
}

/* Buttons classes | End */
