:root {
  --fs-table-intro-icon: 1.5rem;
  --tables-padding-block: 10px;
}

.table-intro {
  padding-inline: var(--spacing-unit);
  padding-block: var(--tables-padding-block);
  @extend .bg-secondary;
  div {
    display: flex;
    align-items: center;
  }
  .icon {
    color: $white-clr;
    font-size: var(--fs-table-intro-icon);
    padding-inline-end: 10px;
  }
  h3 {
    color: $white-clr;
    font-size: var(--fs-body-200);
    font-weight: var(--fw-medium);
    text-transform: lowercase;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}

table {
  width: -webkit-fill-available;
  border-collapse: collapse;

  thead {
    background-color: $primary-clr;
    th {
      color: #fff;
      font-size: var(--fs-body-100);
      font-weight: var(--fw-medium);
      text-align: start;
      text-transform: capitalize;
    }
  }
  tbody {
    tr {
      border-bottom: 0.5px solid $border-dark-clr;
    }
  }
  tfoot {
    width: 100%;
    background-color: #fff;

    tr {
      background-color: transparent !important;
      padding: 0;
    }
    td {
      padding: 0;
    }
  }
}

tr {
  height: fit-content;
  width: 100%;
  padding-inline: var(--spacing-unit);
  padding-block: var(--tables-padding-block);
  display: flex;
}
th,
td {
  flex: 1;
  min-height: 30px;
  padding-inline-end: var(--spacing-unit);
  white-space: nowrap;
}

.table-striped > tbody > tr:nth-child(odd) {
  @extend .bg-light;
}
.table-striped > tbody > tr:nth-child(even) {
  @extend .bg-white;
}
.table-striped > tbody > tr:hover {
  background-color: $proceed-clr !important;
  color: $white-clr;
}

.table-bordered {
  tbody > tr {
    border-inline: 1px solid $border-light-clr;
  }
}
