/* Tooltip classes | Start */
:root {
  --tool-tip-width: 100%;
  --tool-tip-pointer-length: 10px;
  --tool-tip-pointer-spacer: 15px;
}
$tooltipBgClr: $dark-clr;
.tooltip-container {
  position: relative;
  &:is(:hover, :focus) > .tooltip {
    display: block;
  }
}

.tooltip {
  max-width: 100%;
  padding: 5px;
  position: absolute;
  z-index: 1;
  display: block;
  border-radius: 5px;
  background-color: $tooltipBgClr;
  color: $white-clr;
  text-align: center;
  text-transform: lowercase;
  font-size: var(--fs-body-100);
  font-weight: var(--fw-medium);
  overflow: visible;
  white-space: normal;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    
    border-width: var(--tool-tip-pointer-length);
    border-style: solid;
  }
}

.tooltip-top {
  @extend .tooltip;
  bottom: calc(100% + var(--tool-tip-pointer-spacer));
  &::after {
    top: 100%;
    margin-left: calc(var(--tool-tip-pointer-length) * -1);
    border-color: $tooltipBgClr transparent transparent transparent;
  }
}

.tooltip-bottom {
  @extend .tooltip;
  top: calc(100% + var(--tool-tip-pointer-spacer));
  &::after {
    bottom: 100%;
    margin-left: calc(var(--tool-tip-pointer-length) * -1);
    border-color: transparent transparent $tooltipBgClr transparent;
  }
}
.tooltip-after {
  @extend .tooltip;
  width: 100%;
  margin-inline-end: calc(200% + 20px);
  &::after {
    top: 50%;
    margin-top: -10px;
    border-color: transparent transparent transparent $tooltipBgClr;
    margin-inline-start: 50%;
  }
}

/* Tooltip classes | End */
