/* Tooltip classes | Start */
:root {
  --tool-tip-min-width: 120px;
  --tool-tip-pointer-length: 7.5px;
  --tool-tip-pointer-spacer: 12.5px;
}
$tooltipBgClr: $dark-clr;
.tooltip-container {
  position: relative;
  &:is(:hover, :focus) > .tooltip {
    display: block;
  }
}

.tooltip {
  width: max(100%, var(--tool-tip-min-width));
  padding: 5px;
  position: absolute;
  z-index: 1;
  display: none;
  border-radius: 5px;
  background-color: $tooltipBgClr;
  color: $white-clr;
  text-align: center;
  text-transform: lowercase;
  font-size: var(--fs-body-100);
  font-weight: var(--fw-medium);
  overflow: visible;
  white-space: normal;
  &::after {
    content: "";
    position: absolute;
    border-width: var(--tool-tip-pointer-length);
    border-style: solid;
  }
}

.tooltip-top {
  @extend .tooltip;
  bottom: calc(100% + var(--tool-tip-pointer-spacer));
  &::after {
    top: 100%;
    left: 50%;
    margin-left: calc(var(--tool-tip-pointer-length) * -1);
    border-color: $tooltipBgClr transparent transparent transparent;
  }
}

.tooltip-bottom {
  @extend .tooltip;
  top: calc(100% + var(--tool-tip-pointer-spacer));
  &::after {
    bottom: 100%;
    left: 50%;
    margin-left: calc(var(--tool-tip-pointer-length) * -1);
    border-color: transparent transparent $tooltipBgClr transparent;
  }
}
.tooltip-start {
  @extend .tooltip;
  width: 100%;
  right: 0;
  margin-inline-end: calc(100% + var(--tool-tip-pointer-spacer));
  &::after {
    right: 0;
    margin-top: calc(var(--tool-tip-pointer-length) * -1);
    margin-inline-end: calc(var(--tool-tip-pointer-length) * -2);
    border-color: transparent transparent transparent $tooltipBgClr;
  }
}
.tooltip-end {
  @extend .tooltip;
  width: 100%;
  left: 0;
  margin-inline-start: calc(100% + var(--tool-tip-pointer-spacer));
  &::after {
    left: 0;
    margin-top: calc(var(--tool-tip-pointer-length) * -1);
    margin-inline-start: calc(var(--tool-tip-pointer-length) * -2);
    border-color: transparent $tooltipBgClr transparent transparent;
  }
}

/* Tooltip classes | End */

.rtl {
  .tooltip-start {
    right: unset;
    left: 0;
    margin-inline-end: calc(100% + var(--tool-tip-pointer-spacer));
    &::after {
      right: unset;
      left: 0;
      border-color: transparent $tooltipBgClr transparent transparent;
    }
  }
  .tooltip-end {
    left: unset;
    right: 0;
    &::after {
      left: unset;
      right: 0;
      margin-top: calc(var(--tool-tip-pointer-length) * -1);
      margin-inline-start: calc(var(--tool-tip-pointer-length) * -2);
      border-color: transparent transparent transparent $tooltipBgClr;
    }
  }
}

@include onScreenMaxWidth(screens(Mini-Mobile)) {
  .tooltip-start,
  .tooltip-end {
    right: unset;
    left: unset;
    margin-inline-end: unset;
    margin-inline-start: unset;
    bottom: calc(100% + var(--tool-tip-pointer-spacer));
    &::after {
      right: unset;
      margin: unset;
      top: 100%;
      left: 50%;
      margin-left: calc(var(--tool-tip-pointer-length) * -1);
      border-color: $tooltipBgClr transparent transparent transparent;
    }
  }
}
