<div class="search-select-field">
  <div class="input-group">
    <div class="input-group--start-icon">
      <i class="bi bi-calendar2-date"></i>
    </div>
    <input placeholder="select & filter ability" value="" />
    <div class="input-group--end-icon">
      <i class="bi bi-funnel"></i>
    </div>
  </div>
  <div class="filter-results-container">
    <ul>
      <li>
        <i class="bi bi-check-all"></i>
        <span class="text-span text-uppercase">adsl</span>
      </li>
      <li>
        <i class="bi bi-check-all"></i>
        <span class="text-span">mobile data</span>
      </li>
      <li>
        <i class="bi bi-check-all selected"></i>
        <span class="text-span">pre paid</span>
      </li>
      <li>
        <i class="bi bi-check-all"></i>
        <span class="text-span">invoice</span>
      </li>
    </ul>
  </div>
</div>
