<div class="search-select-field">
  <div class="input-group">
    <div class="input-group--start-icon">
      <i class="bi bi-calendar2-date"></i>
    </div>
    <input placeholder="select only" value="" readonly />
  </div>
  <div class="filter-results-container" id="filter-results-container">
    <ul>
      <li>
        <i class="bi bi-check-all"></i>
        <span class="text-span">vodafone</span>
      </li>
      <li>
        <i class="bi bi-check-all"></i>
        <span class="text-span">etisalat</span>
      </li>
      <li>
        <i class="bi bi-check-all selected"></i>
        <span class="text-span">orange</span>
      </li>
      <li>
        <i class="bi bi-check-all"></i>
        <span class="text-span">we te</span>
      </li>
    </ul>
  </div>
</div>
