<!-- Pagination section -->
<div class="pagination-section">
    <div class="pagination-container">
      <nav class="pagination-navbar">
        <ul role="list">
          <li role="listitem">
            <a href="#">
              <span
                ><i class="bi bi-chevron-double-left"></i
              ></span>
            </a>
          </li>
          <li role="listitem">
            <a href="#"
              ><span><i class="bi bi-chevron-left"></i></span
            ></a>
          </li>
          <li
            role="listitem"
            class="active">
            <a href="#"><span>1</span></a>
          </li>
          <li role="listitem">
            <a href="#"><span>2</span></a>
          </li>
          <li role="listitem">
            <a href="#"><span>3</span></a>
          </li>
          <li role="listitem">
            <a href="#">
              <span><i class="bi bi-chevron-right"></i></span>
            </a>
          </li>
          <li role="listitem">
            <a href="#">
              <span
                ><i class="bi bi-chevron-double-right"></i
              ></span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="pagination-single">
        <p>
          page <span>1</span> of
          <span>5</span>
        </p>
      </div>
    </div>
  </div>