<section>
  <div class="container overflow-x-scroll">
    <table class="table-striped table-bordered">
      <thead>
        <tr class="table-intro">
          <th>
            <div>
              <i class="bi bi-lamp-fill icon"></i>
              <h3>last visits logged since yesterday till now</h3>
            </div>
          </th>
        </tr>
        <tr>
          <th>full name</th>
          <th>email</th>
          <th>phone</th>
          <th>city</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mohamad almoayad</td>
          <td>mohamadalmoayad@gmail.com</td>
          <td>+2010223915465</td>
          <td>alexandria</td>
        </tr>
        <tr>
          <td>mohamad almoayad</td>
          <td>mohamadalmoayad@gmail.com</td>
          <td>+2010223915465</td>
          <td>alexandria</td>
        </tr>
        <tr>
          <td>mohamad almoayad</td>
          <td>mohamadalmoayad@gmail.com</td>
          <td>+2010223915465</td>
          <td>alexandria</td>
        </tr>
        <tr>
          <td>mohamad almoayad</td>
          <td>mohamadalmoayad@gmail.com</td>
          <td>+2010223915465</td>
          <td>alexandria</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <sergey-import src="components/paginations/paginations.html" />
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
